<div class="panel message" [ngClass]="{'panel-info': message.mine, 'panel-warning': !message.mine}">
  <div class="panel-body" [ngClass]="{mine: message.mine}">
    <div *ngIf="!message.mine" class="avatar">
      <img src="assets/img/generic-avatar.png" alt="avatar" height="57px" width="50px">
    </div>
    <div class="msg-text-container">
      <h3 class="panel-title">
        <strong>{{message.from}}</strong>
      </h3>
      <p *ngIf="message.text" class="msg-text">{{message.text}}</p>
      <div *ngIf="message.longitude && message.latitude">
        <agm-map [latitude]="message.latitude" [longitude]="message.longitude" [zoom]="15" [disableDefaultUI]="false">

          <agm-marker [latitude]="message.latitude" [longitude]="message.longitude" label="User Location">

            <agm-info-window>
              <strong>InfoWindow content</strong>
            </agm-info-window>

          </agm-marker>

        </agm-map>
      </div>
      <h3 class="panel-title" id="time" [ngClass]="{'fade-in': fadeTime}">
        <small> • {{time}}</small>
      </h3>
    </div>

    <div *ngIf="message.mine" class="avatar">
      <img src="assets/img/generic-avatar.png" alt="avatar" height="57px" width="50px">
    </div>
  </div>
</div>